<div>
    <h2 id="page-heading">
        <span>Stops</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-stop" [routerLink]="['/stop/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Stop
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="stops">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Poi Id</span></th>
            <th><span>Reached</span></th>
            <th><span>Start Time</span></th>
            <th><span>End Time</span></th>
            <th><span>Stop Type</span></th>
            <th><span>Lat</span></th>
            <th><span>Lon</span></th>
            <th><span>Visit</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let stop of stops ;trackBy: trackId">
                <td><a [routerLink]="['/stop', stop.id, 'view' ]">{{stop.id}}</a></td>
                <td>{{stop.poiId}}</td>
                <td>{{stop.reached}}</td>
                <td>{{stop.startTime | date:'medium'}}</td>
                <td>{{stop.endTime | date:'medium'}}</td>
                <td>{{stop.stopType}}</td>
                <td>{{stop.lat}}</td>
                <td>{{stop.lon}}</td>
                <td>
                    <div *ngIf="stop.visitId">
                        <a [routerLink]="['../visit', stop.visitId , 'view' ]" >{{stop.visitId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/stop', stop.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/stop', stop.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'stop/'+ stop.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
